USE [master]
GO
/****** Object:  Database [EmployeeDatabase]    Script Date: 1/7/2015 3:44:16 PM ******/
CREATE DATABASE [EmployeeDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeeDatabase.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeeDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeeDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDatabase]
GO
/****** Object:  Table [dbo].[t_Designation]    Script Date: 1/7/2015 3:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Designation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](15) NOT NULL,
	[title] [varchar](100) NULL,
 CONSTRAINT [PK_t_Designation_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Employee]    Script Date: 1/7/2015 3:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Employee](
	[id] [int] NOT NULL,
	[name] [varchar](150) NULL,
	[email] [varchar](150) NULL,
	[address] [varchar](150) NULL,
	[designationId] [int] NULL,
 CONSTRAINT [PK_t_Employee_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[t_Designation] ON 

INSERT [dbo].[t_Designation] ([id], [code], [title]) VALUES (1, N'123', N'cse')
SET IDENTITY_INSERT [dbo].[t_Designation] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_t_Designation]    Script Date: 1/7/2015 3:44:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_t_Designation] ON [dbo].[t_Designation]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
